* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../assets/background-landscape.jpg") no-repeat center/cover;
}

button {
  cursor: pointer;
  height: 100%;
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: center;
  padding: 16px 40px;
  gap: 16px;
}

.header .search {
  font-size: 1.6rem;
  display: flex;
  max-width: 500px;
  flex: 1;
  align-items: center;
  gap: 16px;
}

.header .search-bar {
  border: 1px solid #ccc;
  font-size: 1.6rem;
  border-radius: 25px;
  padding: 16px;
  flex: 1;
}

.header .search-btn {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  background-color: #fff;
}

.header .units {
  display: flex;
  align-items: center;
  gap: 16px;
}

.units button {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 50px;
  background-color: #fff;
}

.weather-report {
  font-size: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  align-self: center;
  gap: 16px;
  margin-top: 100px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #fff;
}

.weather-report img {
  height: 160px;
  width: 160px;
}

button.active {
  background-color: lightblue;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../assets/background.jpg");
  }

  .header {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  button {
    height: 52px;
  }
}
